.header {
    /* กำหนดขนาดของหน้า header ตามที่คุณต้องการ */
    width: 100%;
    height: 900px; /* ความสูงของ header */
    position: relative;
    overflow: hidden; /* สำหรับการซ่อนส่วนที่เกินของวิดีโอ */
  }
  
  .header video {
    /* กำหนดขนาดของวิดีโอภายใน header โดยใช้ absolute position */
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  